.tab-content div {
    margin:  20px auto;
}

/*!* 全屏覆盖层样式 *!*/
/*.overlay {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: rgba(0, 0, 0, 0.5); !* 半透明黑色背景 *!*/
/*    z-index: 9999; !* 设置为较高的层级，确保覆盖在其他元素上面 *!*/
/*}*/

/** {*/
/*    background-color: #90adef;*/
/*}*/

li {
    margin: 0px auto;
}
h3 {
    margin: 10px auto;
}

/*#favDialog {*/
/*    background-color: #fff;*/
/*}*/
/*#favDialog, .jumbotron , .display-4 ,.lead,.tip ,.link{*/
/*    background-color: #fff;*/

/*}*/
.nav {
    margin-top: -99px;
    width: 100vw;
    height: 50px;
    position: fixed;
    z-index: 999;
    background-color: #93a3ef;
}

.tab-content {
    margin-top: 100px;
}